/* id = # ,  class = . */

body {
    width: 960px;
    margin: 0px;
}


#results {
    border: thin solid black;
    float: left;
    margin-top: 0px;
    width: 23%;
    height: 750px;
}

.pics {
    display: inline-block;
    width:70%;
    height: 400px;
}

#picLeft {
    display: inline-block;
    Width: 20%;
    height: 250px;
    padding-left: 30px;
    padding-right: 50px;
    }

#picCenter {
    display: inline-block;
    width:20%;
    height: 250px;
    padding-right: 50px;
    padding-left: 50px;
}

#picRight {
    display:inline-block;
    height: 250px;
    width: 20%;
    padding-left: 50px;
}

p {
    /* margin: 50px;
    padding: 50px; */
}